{% extends 'base.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/css/style5.css' %}"/>
{% endblock %}
{% block content %}
    <h1>Welcome to Bellorum</h1>
    <p>
        This site collects the most beautiful pictures from Reddit.
    </p>
    <p>
        Please select a gallery in the menu.
    </p>

	<div class="container">
		<div class="content">
			<div class="grid">
                {% for gallery in gallery_list %}
                    <div class="grid__item" data-size="700x800">
                        <a href="{% get_media_prefix %}{{ gallery.images.0.image_url }}" class="img-wrap"><img src="{% get_media_prefix %}{{ gallery.images.0.thumb_url }}" alt="img06" />
                            <div class="description description--grid">
                                <a class="item--title" href="{% url 'grid' gallery.url %}">
                                    <h3>
                                        {{ gallery.name }}
                                    </h3>
                                </a>
                                    <p>There was a tiny man sitting on the stove. He looked at me but he didn't see me. It seemed to me he was in a distant dimension.</p>

                            </div>
                        </a>
                    </div>
                {% endfor %}
			</div>
			<div class="preview">
				<button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
				<div class="description description--preview">
				</div>
				<div class="collage">
					<!--<img src="{% get_media_prefix %}gallery/img/collage/1.jpg" alt="img01" />-->
					<!--<img src="{% get_media_prefix %}gallery/img/collage/2.jpg" alt="img02" />-->
					<!--<img src="{% get_media_prefix %}gallery/img/collage/3.jpg" alt="img03" />-->
					<!--<img src="{% get_media_prefix %}gallery/img/collage/4.jpg" alt="img04" />-->
				</div>
                <a type=submit class="button button--view">View the album</a>
			</div>
		</div>
	</div>

{% endblock %}
{% block tailscripts %}
    {{ block.super }}
    <script>
        (function() {
            var support = { transitions: Modernizr.csstransitions },
                // transition end event name
                transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
                transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
                onEndTransition = function( el, callback ) {
                    var onEndCallbackFn = function( ev ) {
                        if( support.transitions ) {
                            if( ev.target != this ) return;
                            this.removeEventListener( transEndEventName, onEndCallbackFn );
                        }
                        if( callback && typeof callback === 'function' ) { callback.call(this); }
                    };
                    if( support.transitions ) {
                        el.addEventListener( transEndEventName, onEndCallbackFn );
                    }
                    else {
                        onEndCallbackFn();
                    }
                };
            // todo
            var collageEl = document.querySelector('.collage');
            new GridFx(document.querySelector('.grid'), {
                imgPosition : {
                    x : 1,
                    y : -0.5
                },
                pagemargin : 100,
                onExpand : function() {
                    classie.add(collageEl, 'collage--open');
                },
                onOpenItem : function(instance, item) {
                    instance.items.forEach(function(el) {
                        if(item != el) {
                            var delay = Math.floor(Math.random() * 150);
                            el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
                            el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
                            el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
                            el.style.transform = 'scale3d(0.1,0.1,1)';
                            el.style.opacity = 0;
                        }
                    });
                    var gallery_lnk = item.querySelector('a.item--title').getAttribute('href');
                    var btn = document.querySelector('.button--view');
                    btn.setAttribute('href', gallery_lnk);
                },
                onCloseItem : function(instance, item) {
                    classie.remove(collageEl, 'collage--open');
                    instance.items.forEach(function(el) {
                        if(item != el) {
                            el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
                            el.style.transition = 'opacity .4s, transform .4s';
                            el.style.WebkitTransform = 'scale3d(1,1,1)';
                            el.style.transform = 'scale3d(1,1,1)';
                            el.style.opacity = 1;
                            onEndTransition(el, function() {
                                el.style.transition = 'none';
                                el.style.WebkitTransform = 'none';
                            });
                        }
                    });
                }
            });
        })();
    </script>
{% endblock %}