{% extends 'base.html' %}
{% load static %}
{% block title %}
    Bellas
{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/css/index.css' %}"/>
{% endblock %}
{% block content %}
    <h1>Welcome to Bellas</h1>
    <p>
        This site collects the most beautiful pictures from Reddit.
    </p>
    <p>
        Please select a gallery in the menu.
    </p>

	<div class="container">
		<div class="content">
			<div class="grid">
                {% for gallery in gallery_list %}
                    <div class="grid__item with_hover" data-size="700x800">
                        <a href="{% url 'grid' gallery.url %}" class="img-item">
                            <div class="grid_item_overlay with_hover">
                                <img src="{{ gallery.images.0.thumb_url }}" alt="img06" />
                                <h3>
                                        {{ gallery.name.title }}
                                </h3>
                            </div>
                        </a>
                    </div>
                {% endfor %}
			</div>
			<div class="preview">
				<button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
				<div class="description description--preview">
				</div>
				<div class="collage"></div>
                <a type=submit class="button button--view">View the album</a>
			</div>
		</div>
	</div>

{% endblock %}
{% block tailscripts %}
    {{ block.super }}
    <script>
        var is_mobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

        if(is_mobile) {
            $('.grid_item_overlay').removeClass('with_hover');
        }
        (function() {
            var support = { transitions: Modernizr.csstransitions },
                // transition end event name
                transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
                transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
                onEndTransition = function( el, callback ) {
                    var onEndCallbackFn = function( ev ) {
                        if( support.transitions ) {
                            if( ev.target != this ) return;
                            this.removeEventListener( transEndEventName, onEndCallbackFn );
                        }
                        if( callback && typeof callback === 'function' ) { callback.call(this); }
                    };
                    if( support.transitions ) {
                        el.addEventListener( transEndEventName, onEndCallbackFn );
                    }
                    else {
                        onEndCallbackFn();
                    }
                };
            var collageEl = document.querySelector('.collage');
            new GridFx(document.querySelector('.grid'), {
                imgPosition : {
                    x : 1,
                    y : -0.5
                },
				enable_transitions: false,
                pagemargin : 100
            });
        })();
    </script>
{% endblock %}